.buttonenter {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.buttonenter:hover{
    -fx-background-color: linear-gradient(#2A5058,#61a2b1);
    -fx-text-fill:#ffffff ;
}
.textenter {
    -fx-font-size: 13px;
    -fx-font-family: "cursive";
    -fx-fill: #e8e8e8;
    -fx-effect: dropshadow( three-pass-box , rgba(18, 6, 139, 0.7), 6, 0.0 , 0 , 2 );
}
